#Python 3.9+ required 

#Testing
pytest>=7.4.0
pytest-asyncio>=0.21.0
pytest-cov>=4.1.0

#Visualization
matplotlib >=3.7.0

#Fast API
fastapi==0.104.1
uvicorn[standard]==0.24.0

#API testing
httpx==0.25.0
